<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">HOA Information</h2>
                <p>Evergreen Acres is a quiet subdivision nestled in the heart of the Lake of the Woods area in Columbia, MO. </p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://drive.google.com/drive/folders/1KEX8zbu2Y6A0BjH_3K-AJIO9SvkjPi03?usp=sharing" target="_blank" class="fa fa-4x fa-street-view wow bounceIn text-primary"></a>
                    <h3>Meeting Minutes</h3>
                    <p class="text-muted">I will be posting meeting minutes after any meetings occur. Check back for information!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://drive.google.com/file/d/1oAgH9d3wrgOVRoK_Qb7NzGNohPb2QZnq/view?usp=sharing" target="_blank" class="fa fa-4x fa-tree wow bounceIn text-primary" data-wow-delay=".1s"></a>
                    <h3>Covenants & Restrictions</h3>
                    <p class="text-muted">Just here to see covenants and restrictions? Click here!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-road wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Community Events</h3>
                    <p class="text-muted">As they come up, I will post a list of community events.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://nextdoor.com/neighborhood/evergreenacresmo--columbia--mo/" target="_blank" class="fa fa-4x fa-home wow bounceIn text-primary" data-wow-delay=".3s"></a>
                    <h3>Find Us On Nextdoor</h3>
                    <p class="text-muted">Are you a neighbor looking to connect? Join us on Nextdoor!</p>
                </div>
            </div>
        </div>
    </div>
</section>
