<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Looking for more information?</h2>
                <p>Please see the options below to learn more about our Neighborhood Association.</p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="#" class="fa fa-4x fa-street-view wow bounceIn text-primary"></a>
                    <h3>Welcome Packet</h3>
                    <p class="text-muted">New to the Neighborhood? The welcome packet will get you all the information you need. Click here! (COMING SOON!)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="../files/Evergreen-Acres-Covenants-Easements-Restrictions.pdf" target="_blank" class="fa fa-4x fa-tree wow bounceIn text-primary" data-wow-delay=".1s"></a>
                    <h3>Covenants & Restrictions</h3>
                    <p class="text-muted">Just here to see covenants and restrictions? Click here!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="" target="_blank" class="fa fa-4x fa-envelope wow bounceIn text-primary" data-wow-delay=".2s"></a>
                    <h3>Newsletters</h3>
                    <p class="text-muted">Click here to see the neighborhood newsletter archive (COMING SOON!)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://nextdoor.com/neighborhood/evergreenacresmo--columbia--mo/" target="_blank" class="fa fa-4x fa-home wow bounceIn text-primary" data-wow-delay=".3s"></a>
                    <h3>Find Us On Nextdoor</h3>
                    <p class="text-muted">Are you a neighbor looking to connect? Join us on Nextdoor!</p>
                </div>
            </div>
        </div>
    </div>
</section>
