<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Looking for HOA Documents?</h2>
                <hr class="light">
                <p class="text-faded">I've gathered all relevant documents and placed them in one easy to find location. From Covenants and Restrictions, to current officers, I'll try to provide the information as I am able.</p>
                <a href="https://drive.google.com/drive/folders/141W_yBK7dSNdgKJxH4fvknfXN0X9rH2-?usp=sharing" target="_blank" class="btn btn-default btn-xl wow tada">Evergreen Acres Documents</a>
            </div>
        </div>
    </div>
</section>
