<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class="text-faded">Evergreen Acres is a quiet subdivision nestled in the heart of the Lake of the Woods area in Columbia, MO.</p>
                <a href="https://drive.google.com/drive/folders/141W_yBK7dSNdgKJxH4fvknfXN0X9rH2-?usp=sharing" target="_blank" class="btn btn-default btn-xl wow tada">Evergreen Acress Document Repository</a>
            </div>
        </div>
    </div>
</section>