<section class="bg-primary" id="officers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Officers</h2>
                <p>Each officer has specific duties related to their position. For a more involved list of duties, refer to the Welcome Packet.</p>
                <hr class="light">
                <p class="text-faded">
                  <h3><strong>President</strong> - Dana Hinerman</h3>
                </p>
                <p class="text-faded">
                  <strong>Duties:</strong><br>
                  ** Make meeting agenda and conduct the meeting.<br>
                  ** Sign off on Compliance to the Covenants issues.<br>
                  ** Implement business issues voted on by the membership.<br>
                  ** Work with the various committees<br>
                  ** Work with the Neighborhood Watch Program and the Block Captains.<br>
                  ** Make neighbors aware of the Covenants.<br>
                  ** Keep copies of all Non-Compliance letters.<br>
                  ** Keep copies of all correspondence with other outside groups concerning the neighborhood.<br>
                </p>
                <hr class="light">
                <p class="text-faded">
                  <h3><strong>Vice President</strong> - Harold Deckerd</h3>
                </p>
                <p class="text-faded">
                  <strong>Duties:</strong><br>
                  ** Assist the President.<br>
                  ** Fill in for President in his/her absence.<br>
                  ** Aid in committee planning.<br>
                  ** Assist new residents in getting access to the Welcome Packet.<br>
                </p>
                <hr class="light">
                <p class="text-faded">
                  <h3><strong>Treasurer</strong> - Pam Hiller</h3>
                </p>
                <p class="text-faded">
                  <strong>Duties:</strong><br>
                  ** Receive and Deposit membership dues.<br>
                  ** Have access to Bank Account at Boone County National Bank.<br>
                  ** Pay bills including mowing of the right-of-way, picnic supplies, etc.<br>
                  ** Justify the monthly bank statements.<br>
                  ** Share quarterly financial reports with the membership.<br>
                  ** Notify ALL residents of the yearly membership dues in May/June.<br>
                </p>
                <hr class="light">
                <p class="text-faded">
                  <h3><strong>Secretary</strong> - Brittany Woods</h3>
                </p>
                <p class="text-faded">
                  <strong>Duties:</strong><br>
                  ** Take and compile business meeting minutes.<br>
                  ** Be prepared for reading the minutes in the business sessions.<br>
                  ** Notify ALL residents of any upcoming meetings, picnics, work sessions, etc.<br>
                  ** Share minutes of meeting with ALL residents.<br>
                  ** Assist in keeping email addresses current.<br>
                </p>
            </div>
        </div>
    </div>
</section>
